/*-----------------------------404-------------------------------*/

.error{
    background-color: #eaf6ff;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.error__main{
    color: #254f9d;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5vw;
}

.error__img{
    width: 50%;
    background-color: #00b0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__img img{
    width: 100%;
}

.error__main div {
    background-color: #cdeaff;
    padding: 10px;
    border-radius: 20px;
}