/*-----------------------------FOOTER-------------------------------*/
footer{
    background-color: #334b9b;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

footer a{
    color: rgb(255, 255, 255);
}

.piedpage{
    display: flex;
    flex-direction: column;
    &__s1{
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
        &__externe{
            flex: 0 0 20%;
            & .menu{
                display: flex;
                flex-direction: column;
            }
        }
        &__adresse{
            flex: 0 0 40%;
            // &__coord{
            
            // }
            // &__recherche{
                
            // }
        }
        &__description{
                flex:1 ;
        }
    }
}