
.destination{
    background-color: rgb(44, 138, 209) ;
}

.destination__pays{
    background-color: rgb(137, 204, 255) ;
}

.destination__pays .categorie__ul{
    padding-top: 5vh;
}

.destination__pays__titre{
    margin: 0;
    padding: 5vw;
}