/*-----------------------------SEARCH-------------------------------*/

.site__main{
    min-height: 100vh;
    background-color: #eaf6ff;
}

.site__main article{
    margin: 0 10vw 0 10vw;
    padding-bottom: 4vh;
}

.site__main h5{
    padding-top: 5vh;
    margin: 0px;
}

.site__main a{
    color: #094a84;
}

.site__main hr{
    margin: 0px;
}