/*-----------------------------SECTION TITRE-------------------------------*/

.section__titre{
    background-color: #eaf6ff;
    color: #094a84;
}

.section__titre h2{
    margin: 0px;
    padding: 3vh 6.2vw;
}

.section__titre p{
    margin: 0;
    padding: 0vh 6.2vw;
}