.destination{
    width: 100%;
    background-color: #eaf6ff;
    &__titre{
        margin: 0vw 10vw 0vw 10vw;
        padding: 0px;
    }
    &__list{
        margin: 0vw 10vw 0vw 10vw;
        padding: 0px;
        
    }
}

.categorie__ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    &__li {
        display: flex;
        align-items: center;
        cursor: pointer;
        background-color: rgb(49, 92, 138);
        border-radius: 7px;
        padding: 5px 22px;
        border-radius: 5px;
        color: white;
        list-style: none;

        &:focus {
            background-color: rgb(27, 98, 157);
            color: white;
        }

        &:hover {
            background-color:rgb(40, 87, 136);
        }

        &:active {
            background-color: rgb(17, 59, 103);
        }
    }
}
