/*-----------------------------CARTE-------------------------------*/
.carte{
    color: white;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   &--grande{
    //flex: 1 1 250px;
    width: 40vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    border-radius: 16px;
    background: rgb(0,73,205);
    background: linear-gradient(90deg, rgba(60 120 227) 0%, rgba(0 173 255) 100%);
   } 
   &__image{

    img{
        width : 100%;
    }
   }
   &__contenu{
        width: 100%;
        display: flex;
        flex-direction: column;
        &__infos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__infos div{
            margin-right: 4vw;
        }
   }
   &__titre{
    
   }
   &__description{}
   &__bouton{
        background-color: rgba(255, 255, 255, 100%);
        color: rgb(33, 53, 126);
        align-self: flex-end;
        padding: 10px 20px;
        border-radius: 10px;
        border-color: white;
        border-width: medium;
        border-style: solid;
        box-shadow: rgb(255 255 255) 0px 10px 30px -10px;
    &--actif{}
   }
}

.carte h4{
    font-weight: initial;
    color: #ffffff;
    background-color: #009fff00;
    border-radius: 10px;
    padding: 5px;
    border-width: 4px;
    border-style: solid;
    border-color: #ffffff26;
    box-shadow: rgb(50 50 93 / 20%) 0px 13px 27px -5px, rgb(0 0 0 / 5%) 0px 8px 16px -8px;
}

.post-categories{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-categories a{
    text-decoration: none;
    color: rgb(221 244 255);
    font-weight: bold;
    background-color: #4b5eb7;    
    border-radius: 5px;
    padding: 5px;
    margin-right: 10px;
}

.type_temperature{
    display: flex;
    flex-direction: row;
}

.type_temperature p{
    margin: 0 1vw 0 0;
    background-color: #a4c0f3;
    color: #2c4b85;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}



