body{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

p{}

h1{
    font-size: clamp(2rem, 3vh, 3.5rem);
}

h2{
    font-size: clamp(1.5rem, 2.6vh, 2.8rem);
}

h3{
    font-size: clamp(1.2rem, 2.2vh, 2.2rem);
}

h4{
    font-size: clamp(1rem, 1.8vh, 1.5rem);
}

h5{
    font-size: clamp(0.8rem, 1.4vh, 1.2rem);
}

h6{
    font-size: clamp(0.6rem, 1vh, 1rem);
}
